<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yggdrasil.apitrackerlite">

    <application android:name=".ApiTrackerApplication">
        <activity android:name=".ui.interceptor.InterceptorActivity" />
        <activity android:name=".ui.interceptor.InterceptorListActivity" />
        <activity android:name=".ui.interceptor.detail.InterceptorDetailsActivity" />
    </application>
</manifest>